<% layout("/layouts/boilerplate") %>

<div class="container my-5">
  <h2 class="mb-4">Popular Destinations</h2>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card shadow">
        <img
          src="https://res.cloudinary.com/drmyf5ync/image/upload/v1749025199/paris_xjmez1.avif"
          class="card-img-top"
          alt="Paris"
        />
        <div class="card-body">
          <h5 class="card-title">Paris</h5>
          <p class="card-text">
            The city of lights and romance, filled with art, culture, and fine
            dining.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow">
        <img
          src="https://res.cloudinary.com/drmyf5ync/image/upload/v1749025410/goa_m6orcx.avif"
          class="card-img-top"
          alt="Goa"
        />
        <div class="card-body">
          <h5 class="card-title">Goa</h5>
          <p class="card-text">
            Sun, sand, and sea. Goa is India’s most loved beach destination.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow">
        <img
          src="https://res.cloudinary.com/drmyf5ync/image/upload/v1749025199/bali_g2jqhe.jpg"
          class="card-img-top"
          alt="Bali"
        />
        <div class="card-body">
          <h5 class="card-title">Bali</h5>
          <p class="card-text">
            Experience tropical paradise, serene beaches, and vibrant culture in
            Bali.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
