<% layout("/layouts/boilerplate") %>
<div
  style="
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  "
>
  <div style="text-align: center">
    <h1 style="color: #fe424d">Thank you for reaching out!</h1>
    <p>We’ll get back to you shortly.</p>
    <a href="/listings" style="color: #fe424d; text-decoration: underline"
      >Go back to homepage</a
    >
  </div>
</div>
